<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>About</title>
</head>

<body>
    <%- include("partials/navbar", {page: "/about"}) %>
    <div class="container mx-auto px-5">
        <div class="hero bg-base-200 p-6 rounded-lg">
            <div class="hero-content text-center">
                <div class="max-w-md">
                    <h1 class="text-5xl font-bold">About the Project</h1>
                    <p class="py-6">
                        This project is focused on developing innovative tech solutions to combat climate change.
                        Our goal is to create sustainable and impactful projects that make a difference in the world.
                    </p>
                    <a href="#more-about-me" class="btn btn-primary">About Developer</a>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-2 gap-1 pt-4" style="grid-template-columns: 30% 70%;">
            <div class="border-2">
                <div class="avatar">
                    <div class="w-100 rounded">
                        <img src="/img/profile.jpeg" />
                    </div>
                </div>
            </div>
            <div class="border-2">
                <div id="more-about-me" class="card bg-base-100 shadow-xl p-6 m-4">
                    <div class="card-body">
                        <h2 class="card-title text-2xl font-bold mb-4">Samip Karki</h2>
                        <p class="text-lg leading-relaxed">
                            I talk more about me, my program is software development. I love C/C++, enjoy reading novels
                            and manga, watching movies, gaming, and all that.
                            I am passionate about creating efficient and scalable software solutions. In my free time, I
                            like to explore new technologies and keep myself updated with the latest trends in the tech
                            world.
                            I also enjoy participating in hackathons and contributing to open-source projects.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>