<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/main.css" />
  <title>Climate Solutions</title>
</head>

<body>
  <div class="navbar bg-base-100">
    <div class="flex-1">
      <a class="btn btn-ghost normal-case text-xl" href="/">Climate Solutions</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-8 space-x-2">
        <li><a href="/about">About</a></li>
        <li>
          <details class="relative">
            <summary>Summary</summary>
            <ul class="p-1 bg-base-100 absolute left-0">
              <li>
                <a href="/solutions/projects?sector=Land%Sinks">Land Sinks</a>
              </li>
              <li>
                <a href="/solutions/projects?sector=Industry">Industry</a>
              </li>
              <li>
                <a href="/solutions/projects?sector=Transportation">Transportation</a>
              </li>
            </ul>
          </details>
        </li>
      </ul>
    </div>
  </div>
  <div class="container mx-auto px-5">
    <div class="hero min-h-screen"
      style="background-image: url(/img/green.jpg);">
      <div class="hero-overlay bg-opacity-60"></div>
      <div class="hero-content text-neutral-content text-center">
        <div class="max-w-md">
          <h1 class="mb-5 text-5xl font-bold">Welcome to Climate Solutions</h1>
          <p class="mb-5">
            Discover innovative projects and initiatives aimed at combating
            climate change. Join us in making a positive impact on our planet
            by exploring sustainable solutions and taking action today.
          </p>
            <a href="#pj-grid" class="btn btn-primary">Get Started</a>
        </div>
      </div>
    </div>
    <!-- don't nest ?? -->
    <!-- <div class="container mx-auto"> -->
    <div id="pj-grid" class="grid grid-cols-3 gap-3 pt-4">
      <div class="border-2">
        <div class="card bg-base-100 w-full shadow-xl flex flex-col h-full">
          <figure class="px-3 pt-3">
            <img src="https://drawdown.org/sites/default/files/solutions/solution_farmlandrestoration01.jpg" alt="african community working in small field"
              class="rounded-xl" />
            </figure>
          <div class="card-body items-center text-center">
            <h2 class="card-title">Abandoned Farmland Restoration</h2>
            <p>Restoration can bring degraded farmland back into productivity and sequester carbon in the process.</p>
            <div class="card-actions">
              <a href="/solutions/projects/1" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
      </div>

      <div class="border-2">
        <div class="card bg-base-100 w-full shadow-xl flex flex-col h-full">
          <figure class="px-3 pt-3">
            <img src="https://drawdown.org/sites/default/files/solutions2020/solution_alternativecement02.jpg"
              alt="blocks of cement bricks" class="rounded-xl" />
          </figure>
          <div class="card-body items-center text-center">
            <h2 class="card-title">Alternative Cement</h2>
            <p>Conventional cement production is a significant source of carbon dioxide. Reformulation can reduce
              emissions by millions of metric tons each year.</p>
            <div class="card-actions">
              <a href="/solutions/projects/2" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
      </div>

      <div class="border-2">
        <div class="card bg-base-100 w-full shadow-xl flex flex-col h-full">
          <figure class="px-3 pt-3">
            <img src="https://drawdown.org/sites/default/files/solutions2020/solution_bicycle_infrastructure.jpg"
              alt="Two lane bicycle road" class="rounded-xl" />
          </figure>
          <div class="card-body items-center text-center">
            <h2 class="card-title">Bicycle Infrastructure</h2>
            <p>Infrastructure is essential for supporting safe and abundant bicycle use, which curbs emissions by
              reducing the need for fossil-fuel-dependent transportation.</p>
            <div class="card-actions">
              <a href="/solutions/projects/3" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- </div> -->
  </div>
</body>

</html>