<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Login</title>
</head>

<body class="bg-base-200">
    <%- include("partials/navbar", {page: "" }) %>
        <div class="flex items-center justify-center min-h-screen">
            <div class="card w-full max-w-md shadow-2xl bg-base-100">
                <div class="card-body">
                    <h1 class="text-5xl font-bold text-center mb-6">Login</h1>
                    <form action="/login" method="POST">
                        <div class="mb-6">
                            <label for="userName" class="block font-medium my-2">User Name</label>
                            <input type="text" name="userName" required placeholder="User Name"
                                class="input input-bordered w-full">
                        </div>

                        <div class="mb-6">
                            <label for="password" class="block font-medium my-2">Password</label>
                            <input type="password" name="password" required placeholder="Pick a strong password"
                                class="input input-bordered w-full">
                        </div>

                        <div class="mt-6 flex justify-center">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </form>
                    <% if (errorMessage) { %>
                        <div class="alert alert-error">
                            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none"
                                viewBox="0 0 24 
                      24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-
                      2a9 9 0 11-18 0 9 9 0 0118 0z" />
                            </svg>
                            <span>
                                <%= errorMessage %>
                            </span>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
</body>

</html>