<div class="navbar bg-base-100">
    <div class="flex-1">
        <a class="btn btn-ghost normal-case text-xl" href="/">Climate Solutions</a>
    </div>
    <div class="flex-none">
        <ul class="menu menu-horizontal px-8 space-x-2">
            <li>
                <a href="/solutions/projects" class="<%= (page === "/solutions/projects") ? "active" : "" %>">View Projects</a>
            </li>
            <li>
                <a href="/solutions/addProject" class="<%= (page === "/solutions/addProject") ? "active" : "" %>">Add Project</a>
            </li>
            <li>
                <a href="/about" class="<%= (page === "/about") ? "active" : "" %>">About</a>
            </li>
        </ul>
    </div>
</div>